*
{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    background-color:#000;
    
}
. container{
    width: 500px;
    position:absolute;
    transform:translate(-50%,-50%)
}