* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.container {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 20px solid #ffffff;
  border-radius: 4px;
  box-shadow: white;
}
.Images {
  width: 100%;
  display: flex;
  animation: slide 5s infinite;
}
img {
  width: 100%;
}
@keyframes slide {
  0% {transform: translateX(0);}
  
  33% {transform: translateX(0);}
  
  38% {transform: translateX(-100%);}

  66% {transform: translateX(-100%);}
  
  71% {transform: translateX(-200%);}
  100% {transform: translateX(-200%);}
}