body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    /* Header */
    .header {
      background-color:rgb(5, 13, 78);
      color: white;
      text-align: center;
      padding: 45px;
      font-size: 30px;
      font-weight: bolder;
    }

    /* Container for 3-column layout */
    .container {
      display: flex;
      background-color:rgb(54, 54, 130);
      padding: 30px;
    }
    .left img {
    position: absolute;   
    top: 0px;            
    left: 0px;  
    width: 205px;
    
      
    }

    /* Left column */
    .left {
      width: 20%;
      padding: 15px;
      color: white;
    }

    .left a {
      display: block;
      margin: 8px 0;
      text-decoration: none;
      color:white;
    }

    /* Middle column */
    .middle {
      width: 60%;
      background:white;
      padding: 20px;
      border-radius: 5px;
      color: black;
      font-size: large;
      font-family: Algerian;
    }

    .middle h2 {
      margin-top: 0;
    }

    /* Right column */
    .right {
      width: 20%;
      text-align: center;
      padding: 10px;
    }

    .right img {
      width: 280px;
      height: 200px;
    }

    /* Footer */
    .footer {
      background-color:rgb(5, 13, 78);
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 30px;
      font-weight: bold;
      position: relative;
    }